body{
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
p{
	font-size: 17px;
	text-align: left;
	padding: 0 20px;
}
.container{
	position: relative;
	margin: 0 auto;
	max-width: 1152px;
}
.h2Title{
	font-family: Arial;
  font-size: 23px;
  color: #708573;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
}
.desktopImg{
	display: block;
	margin: 0 auto;
}
.twoColumn{
	float: left;
	max-width: 50%;
}
.hrLine{
	max-width: 100%;
	border: 1px solid #708573;
	margin: 40px auto;
}
.list4Column{
	list-style: none;
	/*max-width: 700px;*/
	margin: 0 auto 30px;
	overflow: hidden;
	padding: 0;
	padding-bottom: 15px;
}
.list4Column li{
	float: left;
	width: 25%;
	text-align: center;
}
.list4Column li img{
	/*max-width: 80%;*/
	width: 100%;
}
.list4Column li p{
	margin: 0;
	text-align: center;
}
.list4Column li a{
	color: #708573;
	border-bottom: 1px solid #708573;
	text-decoration: none;
	padding-bottom: 5px;
}
.otherLink.list4Column li a{
	border: none;
}
.shopMore{
	background-size: cover;
	color: #fff;
	text-align: left;
	margin-bottom: 5px;
	border: 1px solid #d3bc8d;
	transition: all 0.5s ease;
}
.shopMore h3, .list4Column li h3{
	font-size: 23px;
}
.shopMore p{
	text-align: left;
	font-size: 14px;
	padding: 0;
}
.shopMore a{
	text-align: left;
	color: #e7bf97;
	text-decoration: none;
	border-bottom: 1px solid #e7bf97;
	padding-bottom: 5px;
}
.shopInfo{
	min-height: 200px;
	opacity: 0;
	padding: 30px 15px 20px 30px; 
	transition: all 0.5s ease;
}
.shopMore:hover .shopInfo{
	background-color: rgba(112,133,115,0.7);
	opacity: 1;
}
.threeFeatures{
	position: relative;
	overflow: hidden;
	background-color: #f8f8f8;
	margin-bottom: 4px;
}
.list3ColumnShop .shopMore .shopInfo h3{
	text-align: center;
	margin-top:20%; 
	margin-bottom: 5px;
}
.list3ColumnShop .shopMore .shopInfo p{
	text-align: center;
	margin: 0;
}
.shopMore .seeMore{
	background-color: rgba(112,133,115,0.7);
	opacity: 1;
}
.list3ColumnShop  .shopMore .seeMore p{
	margin-top: 83px;
	text-align: center;
	font-size: 23px;
}
.shopMore .seeMore p a{
	color: #fff;
	border-bottom: 2px solid #fff;
	border: none;
}
.shopMore .seeMore p a:hover{
	color: #fff;
	border-bottom: 2px solid #fff;
}
.list3ColumnShop{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.list3ColumnShop li{
	float: left;
	width: 33%;
	text-align: center;
}
.list3ColumnShop li:nth-child(2),.list3ColumnShop li:nth-child(5){
	margin: 0 0.5%;
}
.list3Column{
	list-style: none;
	max-width: 700px;
	margin: 0 auto 30px;
	padding: 0;
	overflow: hidden;
}
.list3Column li{
	float: left;
	width: 33%;
	text-align: center;
	padding-bottom: 15px;
}
.list3Column li img{
	max-width: 80%;
}
.list3Column li p{
	color: #729C28;
	margin: 0;
	text-align: center;
}
.list3Column li p a{
	color: #e7bf97;
	text-decoration: none;
	border-bottom: 2px solid #e7bf97;
}
.mainService{
	overflow: hidden;
	background-color: #708573;
	margin-bottom: 30px;
}
.mainService .serviceInfo{
	float: left;
	width: 50%;
	margin: 0;
}
.serviceDescription h3{
	font-size: 23px;
	color: #fff;
	text-align: center;
	margin-top: 12vw;
}
.serviceDescription p{
	width: 80%;
	color: #fff;
	margin: 40px auto 0;
	text-align: left;
}
.serviceDescription img{
	margin: 0 auto;
	display: block;
	width: 80%;
}
.serviceDescription a{
	text-align: left;
	color: #e7bf97;
	text-decoration: none;
	border-bottom: 1px solid #d3bc8d;
	padding-bottom: 5px;
}
.cercertificateSlider{
	overflow: hidden;
	background-color: #97aa9c;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
}
.owlCarousel{
	margin: 20px 0;
}
.owlCarousel .item{
	max-width: 80%;
	margin: 0 auto;
}
.owlCarousel .item div{
	min-height: 310px;
	display: flex;
  align-items: center;
}
.owl-stage-outer p{
	text-align: center;
	font-size: 11px;
	color: #414141;
}
.list4Column.serviceDiv{
	margin-bottom: 0;
}
.dialog:before,
.dialog:after {
  border: solid transparent;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}
.dialogOverflow{
	display: none;
	padding: 20px; 
}
.dialogOverflow li{
	width: 100%;
}
.dialog{
	display: none;
  background-color: rgba(112,133,115,0.7);
  position: relative;
  padding:30px 20px;
 }
 .dialog.displayOn,.dialogOverflow.displayOn{
 	display: block;
 }
 .dialog ul{
 	list-style: disc;
 	overflow: hidden;
 	padding-bottom: 5px;
 }
 .dialog li{
 	font-size: 20px;
 	text-align: left;
 	margin: 10px 0 0 40px;
 	line-height: 1; 
 }
.dialog:before {
	position: absolute;
  top: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 20px;
	border-color: transparent transparent rgba(112,133,115,0.7) transparent;
}
.dialog.serviceInfo-1:before{
  left: 13%;
}
.dialog.serviceInfo-2:before{
  left: 38%;
}
.dialog.serviceInfo-3:before{
  left: 63%;
}
.dialog.serviceInfo-4:before{
  left: 87%;
}
.list4Column .dialog li a{
	color: #e7bf97;
	text-decoration: none;
	border-bottom: 2px solid #e7bf97;
}
.mobileVersion{
	display: none;
}
.centerStyle{
	text-align: center;
}



/* Start 768 */
@media screen and (max-width:768px){
p{
	font-size: 14px;
}
.h2Title{
	font-size: 20px;
}
.desktopVersion{
	display: none;
}
.mobileVersion{
	display: block;
}
.list4Column li{
	width: 50%;
	margin-bottom: 0px;
}
.dialog.displayOn, .dialogOverflow.displayOn{
	padding: 20px 0;
}
.dialog ul{
	margin-left: 30px;
}
.dialogOverflow li{
	width: 100%;
	margin: 0px 0px;
	font-size: 16px;
	line-height: 1.5;
}
.dialog.serviceInfo-1:before,.dialog.serviceInfo-3:before{
  left: 23%;
}
.dialog.serviceInfo-2:before,.dialog.serviceInfo-4:before{
  left: 73%;
}
.shopMore h3, .list4Column li h3{
	font-size: 20px;
}
.list3ColumnShop .shopMore .seeMore p{
	font-size: 20px;
}
.list3ColumnShop .shopMore .shopInfo h3{
	margin-top: 33%;
}
.list4Column li p{
	font-size: 16px;
}
.list3Column li p{
	font-size: 16px;
}
.list3Column{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.list3Column li{
	width: 50%;
}
.mainService .serviceInfo{
	width: 100%;
	float: none;
}
.serviceDescription h3{
	margin-top: 5vw;
	font-size: 20px;
}
.serviceDescription img{
	max-width: 546px;
}
.serviceDescription p{
	margin-top: 4vw;
	font-size: 14px;
}
.mainService .serviceDescription{
	padding-bottom: 40px;
}
.ourService.list4Column li p{
	font-size: 14px;
}
.owl-stage-outer p{
	font-size: 12px;
}
.otherLink.list4Column li a{
	font-size: 23px;
}
.centerStyleMobile{
	text-align: center;
}


}/* end 768 */



/* Start 480 */
/*@media screen and (max-width:480px){
p{
	font-size: 16px;
}
.desktopVersion{
	display: none;
}
.mobileVersion{
	display: block;
}
.list4Column li{
	width: 50%;
	margin-bottom: 30px;
}
.dialog.displayOn, .dialogOverflow.displayOn{
	padding: 20px 0;
}
.dialogOverflow li{
	width: 100%;
	margin: 0px 0px;
	font-size: 16px;
	line-height: 1.3;
}
.dialog.serviceInfo-1:before,.dialog.serviceInfo-3:before{
  left: 21%;
}
.dialog.serviceInfo-2:before,.dialog.serviceInfo-4:before{
  left: 71%;
}
.shopMore{
	margin-bottom: 5px;
}
.list3ColumnShop li{
	width: 49%;
}
.list3ColumnShop li:nth-child(2), .list3ColumnShop li:nth-child(5){
	margin: 0 0;
}
.list3ColumnShop li:nth-child(even){
	margin: 0 0 0 2%;
}
.shopInfo{
	min-height: 150px;
}
.shopMore .seeMore p{
  margin-top: 50px;
}
.list3Column li{
	width: 50%;
}
.list3Column li:nth-child(3){
	float: none;
	width: 50%;
}
.mainService .serviceInfo{
	width: 100%;
	float: none;
}
.owlCarousel .item div{
	min-height: 300px;
}
.owl-carousel .owl-item img{
	max-width: 60%;
	margin: 0 auto;
}


}*//* end 400 */
